<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">shop (index)</a>
          </li>
          <li>
            <a href="/add-product">add prodect</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/admin/product" method="POST">
        <input type="text" name="title" />
        <button type="submit">add product</button>
      </form>
    </main>
  </body>
</html>
